<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--数据源已经交给spring创建了-->
    <!--&lt;!&ndash;default引用environment的id，当前使用的环境&ndash;&gt;-->
    <!--<environments default="mysql">-->
        <!--&lt;!&ndash;声明可以使用的环境&ndash;&gt;-->
        <!--<environment id="mysql">-->
            <!--&lt;!&ndash;使用JDBC原生事务&ndash;&gt;-->
            <!--<transactionManager type="JDBC"></transactionManager>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql:///chapter"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="123456"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <mappers>
        <mapper resource="com/zsq/mapper/BookMapper.xml"/>
    </mappers>

</configuration>